.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

#trades-table-header {
  padding: 1em 0;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.cell-trade-id {
  width: 150px;
}

.cell-price {
  width: 140px;
}

.cell-quantity {
  width: 170px;
}

.cell-time {
  width: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
